<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- NASA Mars news -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <h4>{{listings.news_title}}</h4>
        <p>{{listings.news_p}}</p>
      </div>
    </div>

    <!-- JPL Mars Space Featured Image -->
    <div class="row" id="mars-feat-image">
      <div class="col-md-12">
        <h2 class="heading">Featured Mars Image</h2>
        <img src={{listings.feat_image_url}} alt="JPL Mars Feat Image">
      </div>
    </div>

    <!-- Twitter Mars Weather Report -->
    <div class="row" id="mars-weather">
      <div class="col-md-12">
        <h2 class="heading">Current Weather on Mars</h2>
        <p>{{listings.mars_weather}}</p>
      </div>
    </div>

    <!-- Mars Facts Table -->
    <div class="row" id="mars-facts">
      <div class="col-md-12">
        <h2 class="heading">Mars Facts</h2>
        <table class="table table-bordered table-hover table-condensed table-striped fixed_headers">{{listings.html_table}}</table>
      </div>
    </div>
    
    <!-- Mars Hemisphere Images -->
    <div class="container">
        <header>
            <h2 id="text-center">Mars Hemispheres</h2>
        </header>
        <hr> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-center">{{listings.hemisphere_image_urls[0].title}}</h3>    
                      <div class="thumbnail">
                          <img src={{listings.hemisphere_image_urls[0].image_url}} alt="Hemisphere Image">
                      </div>
                </div>
                <div class="col-md-6">
                  <h3 class="text-center">{{listings.hemisphere_image_urls[1].title}}</h3>    
                    <div class="thumbnail">
                        <img src={{listings.hemisphere_image_urls[1].image_url}} alt="Hemisphere Image">
                    </div>
                </div>
                <div class="col-md-6">
                  <h3 class="text-center">{{listings.hemisphere_image_urls[2].title}}</h3>    
                    <div class="thumbnail">
                        <img src={{listings.hemisphere_image_urls[2].image_url}} alt="Hemisphere Image">
                    </div>
                </div>
                <div class="col-md-6">
                  <h3 class="text-center">{{listings.hemisphere_image_urls[3].title}}</h3>    
                    <div class="thumbnail">
                        <img src={{listings.hemisphere_image_urls[3].image_url}} alt="Hemisphere Image">
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</body>

</html>